
/* @tailwind base;
@tailwind components;
@tailwind utilities; */

:root {
  --primary: #4f46e5;
  --primary-hover: #4338ca;
}

body {
  font-family: 'Inter', sans-serif;
  
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}


/* Animations */
@keyframes slideIn {
  from { transform: translateY(10px); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}

.animate-slide-in {
  animation: slideIn 0.3s ease-out forwards;
}


